body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img {
  width: 50px;
  cursor: pointer;
}
.close {
  display: none;
}
.open {
  display: block;
}
.content {
  background-color: rgb(200, 185, 157);
  border-radius: 14px;
  color: white;
}
.content > div {
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}
.content > div:nth-child(1) {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.content > div:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.content > div:hover {
  background-color: lightcoral;
}
